{% extends "base.html" %}

{%block content%} 

<h2>View books:</h2>
<div class='book_container'>
    {% for book in book_list %}
        <div class='book'>
            <h4>Title:</h4>
            <h3> {{book.title}} </h3>
            <h4>Author:</h4>
            <h3> {{book.author}} </h3>
            <h4>Genre:</h4>
            <h3> {{book.genre}} </h3>
            <a href="/stock/{{book_list.index(book)}}">Show Details</a>
            <h4>Available:</h4>
            <h3>{%if book.available %} &#9989; {%else%} &#9587; {%endif%} </h3>


        </div>
        {% endfor %}
    </div>

 {% endblock %} 


 

