{% extends "base.html" %}

{%block content%} 

<div class ="home-container">
    <h2>Who are we?</h2>
    <p>The CodeClan library is here to help those who wish to learn the skills necessary to build a career in the technology industry. </p>
    <h2>Where are we?</h2>
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.1393300286036!2d-3.2041546840619133!3d55.9469569806057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7990145c321%3A0x3f87898a02cf236d!2sCodeClan!5e0!3m2!1sen!2suk!4v1676061778464!5m2!1sen!2suk" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <h2>Get in touch!</h2>
    <a href="mailto:hello@codeclan.com">hello@codeclan.com</a>
    <p>0121 290 2890</p>
</div> 

{% endblock %} 
